<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Login</title>
	</head>
	
	<body>
		<script id="PilotAccountTemplate" type="text/template">
			<a href="http://localhost:8080/PilotProfile.html" class="accountTemplate">
				<div>
					<img src="img/PilotIcon.png" alt="PilotIcon_img" class="accountLogo"/>
					<p id="userName"><%= name %></p>
				</div>
			</a>
		</script>

		<script id="PassengerAccountTemplate" type="text/template">
			<a href="http://localhost:8080/PassengerProfile.html" class="accountTemplate">
				<div>
					<img src="img/PassengerIcon.png" alt="PassengerIcon_img" class="accountLogo"/>
					<p id="userName"><%= name %></p>
				</div>
			</a>
		</script>

		<script id="ConnectTemplate" type="text/template">
			<div id = connectTemplate>
				<a href="http://localhost:8080/LoginPassenger.html" class="accountTemplate" id="connectPassenger">
					<p>Passenger-Log in</p>
					<img src="img/PassengerIcon.png" alt="PassengerIcon_img" class="accountLogo"/>
				</a>
				<a href="http://localhost:8080/LoginPilot.html" class="accountTemplate" id="connectPilot">
					<p>Pilot-Log in</p>
					<img src="img/PilotIcon.png" alt="PilotIcon_img" class="accountLogo"/>
				</a>				
			</div>
		</script>
		
		<div id="container">
			<header id="header">
				<a id="homePageLink" href="http://localhost:8080/Homepage.html">Back to Homepage</a>
				<div id="accountSpace"></div>
			</header>
			<script id="templateExample" type="text/template">
				<div>
					<%= attribute %>
				</div>
			</script>

			<script id="templateError" type="text/template">
				<p>Username or password incorrect</p>
			</script>

			<script id="templateSuccess" type="text/template">
				<p>You have successfully logged in</p>
			</script>

			<h1>Login</h1>

			<div id="logInFields">
				<div>
					<input type="email" name="emailInput" id="emailInput" placeholder="ex: abcd@efgh.com" class="form-control">
				</div>
				<div>
					<input type="password" name="passwordInput" id="passwordInput" placeholder="8 characters minimum" class="form-control">
				</div>
			</div>

			<div id="logIn">
				<button id="logInButton" class="btn btn-primary">Log in</button>
			</div>

			<div id="signUp">
				<button id="signUpButton" class="btn btn-primary">Sign up</button>
			</div>
			
			<div id="result"></div>
		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="LoginPassenger.js"></script>
	</body>
</html>