<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Search a flight</title>
	</head>
	
	<body>
		<script id="PilotAccountTemplate" type="text/template">
			<a href="http://localhost:8080/PilotProfile.html" class="accountTemplate">
				<div>
					<img src="img/PilotIcon.png" alt="PilotIcon_img" class="accountLogo"/>
					<p id="userName"><%= name %></p>
				</div>
			</a>
		</script>

		<script id="PassengerAccountTemplate" type="text/template">
			<a href="http://localhost:8080/PassengerProfile.html" class="accountTemplate">
				<div>
					<img src="img/PassengerIcon.png" alt="PassengerIcon_img" class="accountLogo"/>
					<p id="userName"><%= name %></p>
				</div>
			</a>
		</script>

		<script id="ConnectTemplate" type="text/template">
			<div id = connectTemplate>
				<a href="http://localhost:8080/LoginPassenger.html" class="accountTemplate" id="connectPassenger">
					<p>Passenger-Log in</p>
					<img src="img/PassengerIcon.png" alt="PassengerIcon_img" class="accountLogo"/>
				</a>
				<a href="http://localhost:8080/LoginPilot.html" class="accountTemplate" id="connectPilot">
					<p>Pilot-Log in</p>
					<img src="img/PilotIcon.png" alt="PilotIcon_img" class="accountLogo"/>
				</a>				
			</div>
		</script>
		
		<div id="container">
			<header id="header">
				<a id="homePageLink" href="http://localhost:8080/Homepage.html">Back to Homepage</a>
				<div id="accountSpace"></div>
			</header>
			<h1>Search a flight</h1>
			<div id="searchFields">
				<div>
					<input type="text" name="departureAirport"  id="departureAirport" placeholder="Departure" class="form-control">
				</div>

				<div>
					<input type="datetime-local" name="date_min" id="date_min" class="form-control">
				</div>

				<div>
					<input type="datetime-local" name="date_max" id="date_max" class="form-control">
				</div>

				<div>
					<input type="number" name="nbSeats" id="nbSeats" placeholder="Number of seats" class="form-control">
				</div>
			</div>

			<div id="searchFlight">
				<button id="searchFlightButton" class="btn btn-primary">Search this flight</button>
				<button id="logInButton" class="btn btn-primary">Login</button>
				<div id="result"></div>
			</div>
		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="Search.js"></script>
	</body>
</html>