<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Search results</title>
	</head>

	<body>
		<div id="container">
			<h1>Search results</h1>
			<div id="flightList"></div>
			<div id="otherSearch">
				<button id="otherSearchButton" class="btn btn-primary">Search another flight</button>
			</div>	
		</div>

		<script id="flightTemplate" type="text/template">
			<div class="flight">
				<div class="aerodroms">
					<p><%= departureAerodrom %></p>
					<p><%= arrivalAerodrom %></p>
				</div>
				<p><%= departureTime %></p>
				<p><%= duration %></p>
				<p><%= price %></p>
				<p><%= remainingSeats %></p>
			</div>
		</script>

		<script id="noResultTemplate" type="text/template">
			<p>Sorry, no flight have been found, try another search</p>
		</script>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="SearchResults.js"></script>
	</body>
</html>