/*General*/
html{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
a{
    text-decoration: none;
}

body{
    min-height: 100%;
    width: 100%;
    margin: 0;
	background:linear-gradient(180deg, #b6d5ee, #67b9f0);
    background-attachment: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color:rgb(148, 44, 44);
	font-size:2vw ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#header{
    width: 98%;
    height:auto;
    margin-top: calc(98vh*0.03/2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#homePageLink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px;
    height: auto;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #6db7e7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color:rgb(0, 0, 0);
	font-size:1em ;
}

#homePageLink:hover{
    background-color:#20a6ff;
}

.accountLogo{
    width: 60px;
    height: auto;
}

.accountTemplate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    background-color: #6db7e7;
}

.accountTemplate:hover{
    background-color:#20a6ff;
}

.accountTemplate p{
    margin-right: 10px;
    color:rgb(0, 0, 0);
	font-size:1em ;
    
}

#connectTemplate{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*HomePage*/
#main_panel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    background-color: #6db7e7;
    border: solid 2px black;
}

#main_panel a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color:rgb(148, 44, 44);
	font-size:1em ;
}
#main_panel a:hover{
    background-color:#20a6ff;
}

#main_panel a div{
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.homePageLink + .homePageLink{
    border-left: solid 2px black;
}

.homePageLogo{
    width: 50%;
    height: auto;
}

/*AddFlight*/
#fields{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fields div{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

#fields div:hover{
    background-color: rgb(212, 220, 228);
}

#fields div + div{
    border-top: solid 2px black;
}


/*SearchFlight*/

#searchFields{
    align-self: flex-start;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    flex-wrap: nowrap;
}

/*Pilot Account & Passenger Account*/
#accountFields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

#accountFields div{
    padding-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profileButtons{
    margin-top: 20px;
}

/*Flights*/
#flightList{
    width: 70%;
    margin-top: 20px;
    border: solid 2px black;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
}

.flight{
    width: 100%;
    height:calc(50vw*0.2);
    border-top: solid 2px black;
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    padding-right: 1%;
}

.flight + .flight{
    border-top: solid 2px black;
}

.airports{
    width:15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    border-right: solid 2px black; 
    padding:1%;   
}

.airports p{
    margin: 0;
    width: 100%;
    height:auto;
}

.flight > p{
    width:20%;
    height:auto;
}

.flight:hover{
    background-color:gainsboro;
}

.flight p{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 10px;
    padding:1%;
    background-color:bisque;
    font-size: small;
    font-size: 1vw;
}

/*SearchResults*/

#otherSearch{
    margin-top: 30px;
}


